@import models.APIResponse

@(apiResponse: List[APIResponse])

@main("API") {
  <body>
    <h1>Result : @apiResponse.length</h1>
    <table id="customers">
      <tr>
        <th>ID</th>
        <th>PostId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Body</th>
      </tr>
      @for(data <- apiResponse){
        <tr>
          <td>@data.id</td>
          <td>@data.postId</td>
          <td>@data.name</td>
          <td>@data.email</td>
          <td>@data.body</td>
        </tr>
      }
    </table>
  </body>
}
